<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Blog{% endblock %}</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">My Blog</a></h1>
    </header>
    <nav>
        <a href="{% url 'home' %}">홈 화면으로</a>
        <a href="{% url 'post_list' %}">전체 게시글</a>
        
        {% if user.is_authenticated %}
        <a href="{% url 'user_logout' %}">로그아웃</a>
        {% else %}
        <a href="{% url 'user_login' %}">로그인</a>
        <a href="{% url 'user_signup' %}">회원가입</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Blog</p>
    </footer>
</body>
</html>
