<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}게임 게시판{% endblock %}</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">게임 게시판</a></h1>
    </header>
    <nav>
        <a href="{% url 'home' %}">홈 화면으로</a>
        <a href="{% url 'post_list' %}">전체 게시글</a>
        
        {% if user.is_authenticated %}
        <a href="{% url 'user_logout' %}">로그아웃</a>
        <a href="{% url 'user_profile' %}">프로필</a>
            {% if user.first_name %}
            <p>{{ user.first_name }}님 로그인중</p>
            {% else %}
            <p>{{ user }}님 로그인중</p>
            {% endif %}
        {% else %}
        <a href="{% url 'user_login' %}">로그인</a>
        <a href="{% url 'user_signup' %}">회원가입</a>
        {% endif %}
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Blog</p>
    </footer>
</body>
</html>
