{% extends 'blog/base.html' %}

{% block content %}
    <form action="" method="get">
            <input type="text" name="q" placeholder="검색할 단어" value="{{ request.GET.q }}">
            <select name="category" id="">
                <option value="">모든 카테고리</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id|stringformat:"s" == selected_category %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="검색">
            <a href="{% url 'tag_search' %}">태그로 검색하기</a>
    </form>
    <h2>게시글 목록</h2>
    <ul>
    {% for post in posts %}
        <li>
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }} / {{ post.created_date|date:"Y-m-d" }} / {{ post.author }}</a></h3>
        </li>
    {% empty %}
        <li>아직 글이 없습니다.</li>
    {% endfor %}
    </ul>

    {% if user.is_authenticated %}
    <a href="{% url 'post_create' %}">새 글 작성</a>
    {% endif %}


    {% if posts.has_other_pages %}
    <div class="pagination">
        {% if posts.has_previous %}
            <a href="?q={{ q }}&category={{ selected_category }}&page={{ posts.previous_page_number }}">&laquo; 이전</a>
        {% endif %}
    
        {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?q={{ q }}&category={{ selected_category }}&page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    
        {% if posts.has_next %}
            <a href="?q={{ q }}&category={{ selected_category }}&page={{ posts.next_page_number }}">다음 &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
