{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <article>
        <h2>{{ post.title }}</h2>
        <p class="meta">
            작성일자 : {{ post.created_date|date:"F d, Y" }}
            {% if post.category %}
                in {{ post.category.name }}
            {% endif %}
        </p>
        <div class="content">
            {% if post.image %}
            <div>
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            </div>
            {% endif %}
            {{ post.content|linebreaks }}
        </div>
    </article>

    <!-- 조회수 -->
    <div>
        <p>조회 : {{ post.view_count }}회</p>
    </div>

    <!-- 댓글 기능관련 -->
    <p>댓글 {{ post.comments.count }}개</p>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="id_message">댓글 작성</label>
        </div>
        <textarea name="message" id="id_message"></textarea>
        <input type="submit" value="작성">
    </form>

    {% for comment in post.comments.all %}
        <div>
            {% if comment.author.first_name %}
            <p>{{ comment.author.first_name }}</p>
            {% else %}
            <p>{{ comment.author }}</p>
            {% endif %}
            <p>{{ comment.message }}</p>
            {% if user.is_authenticated and user == comment.author %}
            <div>
                <form class="" action="{% url 'comment_delete' comment.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="삭제">
                </form>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    

    <!-- 로그인 인증 -->
    {% if user.is_authenticated and user == post.author %}
    <div class="post-actions">
        <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary">수정</a>
        {% csrf_token %}
        <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger">삭제</a>
    </div>
    {% endif %}
    
    <!-- 목록으로 -->
    <p><a href="{% url 'post_list' %}">게시글 목록으로</a></p>
{% endblock %}